vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Jul 2007 08:28:10 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|11 Jul 2007 08:28:10 -0000
vti_filesize:IR|4908
vti_cachedlinkinfo:VX|S|number.gif S|number_selected.gif S|number_selected.gif S|play.gif S|play.gif S|pause.gif S|pause.gif S|arrow_left.gif S|arrow_left.gif S|arrow_right.gif S|arrow_right.gif S|arrow_top.gif S|arrow_top.gif S|arrow_bottom.gif S|arrow_bottom.gif
vti_cachedsvcrellinks:VX|FSUS|ShoppingCart/style5/number.gif FSUS|ShoppingCart/style5/number_selected.gif FSUS|ShoppingCart/style5/number_selected.gif FSUS|ShoppingCart/style5/play.gif FSUS|ShoppingCart/style5/play.gif FSUS|ShoppingCart/style5/pause.gif FSUS|ShoppingCart/style5/pause.gif FSUS|ShoppingCart/style5/arrow_left.gif FSUS|ShoppingCart/style5/arrow_left.gif FSUS|ShoppingCart/style5/arrow_right.gif FSUS|ShoppingCart/style5/arrow_right.gif FSUS|ShoppingCart/style5/arrow_top.gif FSUS|ShoppingCart/style5/arrow_top.gif FSUS|ShoppingCart/style5/arrow_bottom.gif FSUS|ShoppingCart/style5/arrow_bottom.gif
vti_lineageid:SR|{71DBB119-58E1-4044-BCCF-34A0B81B27AE}
vti_backlinkinfo:VX|
