vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|08 Jun 2011 14:28:20 -0000
vti_author:SR|THESAFESTSERVER\\Administrator
vti_modifiedby:SR|THESAFESTSERVER\\Administrator
vti_nexttolasttimemodified:TR|08 Jun 2011 14:28:20 -0000
vti_timecreated:TR|09 Jun 2011 11:15:00 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|09 Jun 2011 11:15:00 -0000
vti_filesize:IR|19470
vti_cachedlinkinfo:VX|S|../images/bnrbg.png
vti_cachedsvcrellinks:VX|FSUS|images/bnrbg.png
vti_lineageid:SR|{3448FF88-803E-41D5-BB51-C79318C95E66}
vti_backlinkinfo:VX|ShoppingCart/Admin/ShoppingCartLogin.aspx
