<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="secureWebPages" type="Hyper.Web.Security.SecureWebPageSectionHandler,WebPageSecurity" allowLocation="false"/>
  </configSections>
  <secureWebPages enabled="true">
    <directory path="ShoppingCart"/>
    <file path="ShoppingCart/default1.aspx"/>
    <file path="ShoppingCart/default1.aspx" ignore="True"/>
  </secureWebPages>
  <appSettings>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="5001"/>
  </appSettings>
  <connectionStrings>
    <add name="LicenseBusiwizConnectionString" connectionString="Data Source=PRAKASH\SQL2017INSTA;Initial Catalog=License.Busiwiz; User ID=sa; Password=Om2012++; Persist Security Info=true; Persist Security Info=true" providerName="System.Data.SqlClient"/>
    <!--<add name="LicenseBusiwizConnectionString" connectionString="server=np:C104\SQLAHM;database=License.Busiwiz;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>-->
    <add name="JobcenterLicense" connectionString="Data Source=PRAKASH\SQL2017INSTA;Initial Catalog=Licensejobcenter.OADB; User ID=sa; Password=Om2012++; Integrated Security=True"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" defaultRedirect="~/Errorpage.aspx"/>
    <sessionState mode="InProc" cookieless="false" timeout="10000" regenerateExpiredSessionId="true"/>
    <xhtmlConformance mode="Transitional"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.SqlServer.ConnectionInfoExtended, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.SqlServer.ConnectionInfo, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <!--<add assembly="Microsoft.SqlServer.ForEachSMOEnumerator, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>-->
        <add assembly="Microsoft.SqlServer.Management.Sdk.Sfc, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.SqlServer.Smo, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.Build.Conversion.v3.5, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Tasks, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Utilities, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Utilities.v3.5, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Office.Interop.Word, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <!--<add assembly="Microsoft.VisualStudio.SharePoint.Commands, Version=11.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="ISymWrapper, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Engine, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.JScript, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http.WebRequest, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http.Formatting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <pages validateRequest="false" enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
      <add path="IndigoEightPdf.axd" verb="GET,POST" type="IndigoEight.Web.UI.AjaxPdfWriter" validate="false"/>
    </httpHandlers>
    <httpModules>
      <!--<add name="SecureWebPage" type="Hyper.Web.Security.SecureWebPageModule,WebPageSecurity" />-->
    </httpModules>
    <httpRuntime executionTimeout="1200" maxRequestLength="102400" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100"/>
    <authentication mode="Windows"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="Shoppingcart/Admin/ShoppingcartLogin.aspx"/>
      </files>
    </defaultDocument>
    <tracing>
      <traceFailedRequests>
        <add path="*">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose"/>
            <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose"/>
            <add provider="ISAPI Extension" verbosity="Verbose"/>
            <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module" verbosity="Verbose"/>
          </traceAreas>
          <failureDefinitions statusCodes="500" verbosity="Error"/>
        </add>
      </traceFailedRequests>
    </tracing>
    <!--<pages validateRequest="false"></pages>-->
  </system.webServer>
  <!--<sessionState mode="InProc" stateConnectionString="tcp:192.168.1.221\mastersql,2434;" sqlConnectionString="data source=tcp:192.168.1.221;Trusted_Connection=yes" cookieless="false" timeout="60"/>!-->
  <runtime>
    <!--//-->
  </runtime>
  <!--//-->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="admin@indiaauthentic.com">
        <network defaultCredentials="false" host="mail.indiaauthentic.com" password="26De1966" port="25" userName="admin@indiaauthentic.com"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>