vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|23 Sep 2010 20:38:52 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|23 Sep 2010 20:38:52 -0000
vti_filesize:IR|16879
vti_cachedlinkinfo:VX|S|/images/front_end_site_images/place_order.gif S|../images/title_bottom\\ NoCornor.JPG S|../images/HeaderLight_1.png S|../images/title_1.png S|../images/title_bottom_1.png S|../images/title_bottom1_1.png S|../images/BackRepeat_1a.png S|../images/Blank_1.png S|../images/MainSiteHomeBlank_1.png S|../images/ShoppingCartHomeBlank_1.png S|../images/adminback3.jpg
vti_cachedsvcrellinks:VX|NSUS|images/front_end_site_images/place_order.gif NSUS|images/title_bottom\\ NoCornor.JPG NSUS|images/HeaderLight_1.png NSUS|images/title_1.png NSUS|images/title_bottom_1.png NSUS|images/title_bottom1_1.png NSUS|images/BackRepeat_1a.png NSUS|images/Blank_1.png NSUS|images/MainSiteHomeBlank_1.png NSUS|images/ShoppingCartHomeBlank_1.png NSUS|images/adminback3.jpg
vti_lineageid:SR|{7B441163-04FC-4CC3-9626-BAF9969A50C9}
vti_backlinkinfo:VX|
