vti_encoding:SR|utf8-nl
vti_author:SR|THESAFESTSERVER\\Administrator
vti_modifiedby:SR|THESAFESTSERVER\\Administrator
vti_timelastmodified:TR|11 Jun 2011 11:45:55 -0000
vti_timecreated:TR|11 Jun 2011 11:45:55 -0000
vti_cacheddtm:TX|11 Jun 2011 11:45:55 -0000
vti_filesize:IR|1930
vti_extenderversion:SR|5.0.2.6819
vti_lineageid:SR|{46567862-C3E6-4004-A0F6-D0E623D784A2}
vti_backlinkinfo:VX|Account/format3.aspx Account/format4.aspx Account/format5.aspx Account/TemplateView.aspx Account/format1.aspx Account/format2.aspx Account/format6.aspx
