vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|03 Jun 2011 10:12:23 -0000
vti_extenderversion:SR|5.0.2.6819
vti_lineageid:SR|{ADE46321-1FD9-423B-BDCD-7EFFF547BF9C}
vti_backlinkinfo:VX|
vti_author:SR|THESAFESTSERVER\\Administrator
vti_modifiedby:SR|THESAFESTSERVER\\Administrator
vti_nexttolasttimemodified:TW|03 Jun 2011 08:01:19 -0000
vti_timecreated:TR|03 Jun 2011 08:01:19 -0000
vti_cacheddtm:TX|17 May 2010 18:21:04 -0000
vti_filesize:IR|4565
vti_cachedlinkinfo:VX|S|images/img01.jpg S|images/img02.jpg S|images/img03.gif S|images/img13.jpg S|images/img06.gif S|images/img07.gif S|images/img12.gif S|images/img03.gif S|images/img08.gif S|images/img05.gif S|images/img10.gif S|images/img01.jpg
vti_cachedsvcrellinks:VX|NSUS|ShoppingCart/css/images/img01.jpg NSUS|ShoppingCart/css/images/img02.jpg NSUS|ShoppingCart/css/images/img03.gif NSUS|ShoppingCart/css/images/img13.jpg NSUS|ShoppingCart/css/images/img06.gif NSUS|ShoppingCart/css/images/img07.gif NSUS|ShoppingCart/css/images/img12.gif NSUS|ShoppingCart/css/images/img03.gif NSUS|ShoppingCart/css/images/img08.gif NSUS|ShoppingCart/css/images/img05.gif NSUS|ShoppingCart/css/images/img10.gif NSUS|ShoppingCart/css/images/img01.jpg
