vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|03 Jun 2011 10:12:23 -0000
vti_extenderversion:SR|5.0.2.6819
vti_lineageid:SR|{D1F86E19-9B92-4B5D-B58D-EE5A778831D3}
vti_backlinkinfo:VX|ShoppingCart/NormalView.aspx ShoppingCart/PromotionDiscountPopUp.aspx ShoppingCart/EnhanceView.aspx ShoppingCart/PlayVideo.aspx ShoppingCart/PromotionDiscountPopUp(2112010).aspx ShoppingCart/VolumeDiscountPopUp.aspx ShoppingCart/NormalView(old).aspx ShoppingCart/PlayAudio.aspx
vti_author:SR|THESAFESTSERVER\\Administrator
vti_modifiedby:SR|THESAFESTSERVER\\Administrator
vti_nexttolasttimemodified:TW|03 Jun 2011 08:01:19 -0000
vti_timecreated:TR|03 Jun 2011 08:01:19 -0000
vti_cacheddtm:TX|17 May 2010 18:21:04 -0000
vti_filesize:IR|17064
vti_cachedlinkinfo:VX|S|/images/front_end_site_images/place_order.gif S|../images/title_bottom\\ NoCornor.JPG S|../images/HeaderLight_2.png S|../images/title_2.png S|../images/title_bottom_2.png S|../images/title_bottom1_2.png S|../images/BackRepeat_1.png S|../images/Blank_2.png S|../images/MainSiteHomeBlank_2.png S|../images/ShoppingCartHomeBlank_2.png S|../images/adminback3.jpg
vti_cachedsvcrellinks:VX|NSUS|images/front_end_site_images/place_order.gif FSUS|ShoppingCart/images/title_bottom\\ NoCornor.JPG FSUS|ShoppingCart/images/HeaderLight_2.png FSUS|ShoppingCart/images/title_2.png FSUS|ShoppingCart/images/title_bottom_2.png FSUS|ShoppingCart/images/title_bottom1_2.png FSUS|ShoppingCart/images/BackRepeat_1.png FSUS|ShoppingCart/images/Blank_2.png FSUS|ShoppingCart/images/MainSiteHomeBlank_2.png FSUS|ShoppingCart/images/ShoppingCartHomeBlank_2.png FSUS|ShoppingCart/images/adminback3.jpg
