vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|03 Jun 2011 10:12:23 -0000
vti_extenderversion:SR|5.0.2.6819
vti_lineageid:SR|{73AFDE43-CFEB-4D38-A3B1-4AA120147E22}
vti_backlinkinfo:VX|
vti_author:SR|THESAFESTSERVER\\Administrator
vti_modifiedby:SR|THESAFESTSERVER\\Administrator
vti_nexttolasttimemodified:TW|03 Jun 2011 08:01:19 -0000
vti_timecreated:TR|03 Jun 2011 08:01:19 -0000
vti_cacheddtm:TX|17 May 2010 18:21:04 -0000
vti_filesize:IR|5314
vti_cachedlinkinfo:VX|S|images/img04.jpg S|images/img03.jpg S|images/img09.gif S|images/img08.gif S|images/img03.jpg S|images/img04.jpg S|images/img03.jpg S|images/img05.gif S|images/img10.gif S|images/img05.gif
vti_cachedsvcrellinks:VX|NSUS|ShoppingCart/css/images/img04.jpg NSUS|ShoppingCart/css/images/img03.jpg NSUS|ShoppingCart/css/images/img09.gif NSUS|ShoppingCart/css/images/img08.gif NSUS|ShoppingCart/css/images/img03.jpg NSUS|ShoppingCart/css/images/img04.jpg NSUS|ShoppingCart/css/images/img03.jpg NSUS|ShoppingCart/css/images/img05.gif NSUS|ShoppingCart/css/images/img10.gif NSUS|ShoppingCart/css/images/img05.gif
