vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|21 Aug 2008 08:47:32 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|21 Aug 2008 08:47:32 -0000
vti_filesize:IR|4565
vti_cachedlinkinfo:VX|S|images/img01.jpg S|images/img02.jpg S|images/img03.gif S|images/img13.jpg S|images/img06.gif S|images/img07.gif S|images/img12.gif S|images/img03.gif S|images/img08.gif S|images/img05.gif S|images/img10.gif S|images/img01.jpg
vti_cachedsvcrellinks:VX|NSUS|ShoppingCart/csv/css/images/img01.jpg NSUS|ShoppingCart/csv/css/images/img02.jpg NSUS|ShoppingCart/csv/css/images/img03.gif NSUS|ShoppingCart/csv/css/images/img13.jpg NSUS|ShoppingCart/csv/css/images/img06.gif NSUS|ShoppingCart/csv/css/images/img07.gif NSUS|ShoppingCart/csv/css/images/img12.gif NSUS|ShoppingCart/csv/css/images/img03.gif NSUS|ShoppingCart/csv/css/images/img08.gif NSUS|ShoppingCart/csv/css/images/img05.gif NSUS|ShoppingCart/csv/css/images/img10.gif NSUS|ShoppingCart/csv/css/images/img01.jpg
vti_lineageid:SR|{40776E53-A864-46B3-9FB0-05EACD32FC89}
vti_backlinkinfo:VX|
