vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|10 Dec 2008 09:49:00 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|10 Dec 2008 09:49:00 -0000
vti_filesize:IR|16799
vti_cachedlinkinfo:VX|S|/images/front_end_site_images/place_order.gif S|../images/title_bottom\\ NoCornor.JPG S|../images/HeaderLight.JPG S|../images/title.jpg S|../images/title_bottom.JPG S|../images/title_bottom1.JPG S|../images/BackRepeat.jpg S|../images/Blank.jpg S|../images/MainSiteHomeBlank.jpg S|../images/ShoppingCartHomeBlank.JPG S|../images/adminback3.jpg
vti_cachedsvcrellinks:VX|NSUS|images/front_end_site_images/place_order.gif NSUS|ShoppingCart/csv/images/title_bottom\\ NoCornor.JPG NSUS|ShoppingCart/csv/images/HeaderLight.JPG NSUS|ShoppingCart/csv/images/title.jpg NSUS|ShoppingCart/csv/images/title_bottom.JPG NSUS|ShoppingCart/csv/images/title_bottom1.JPG NSUS|ShoppingCart/csv/images/BackRepeat.jpg NSUS|ShoppingCart/csv/images/Blank.jpg NSUS|ShoppingCart/csv/images/MainSiteHomeBlank.jpg NSUS|ShoppingCart/csv/images/ShoppingCartHomeBlank.JPG NSUS|ShoppingCart/csv/images/adminback3.jpg
vti_lineageid:SR|{568F2439-BCC6-4292-A9AC-44FF39E9C5E9}
vti_backlinkinfo:VX|
