vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|15 Oct 2009 23:22:28 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|15 Oct 2009 23:22:28 -0000
vti_filesize:IR|17064
vti_cachedlinkinfo:VX|S|/images/front_end_site_images/place_order.gif S|../images/title_bottom\\ NoCornor.JPG S|../images/HeaderLight_2.png S|../images/title_2.png S|../images/title_bottom_2.png S|../images/title_bottom1_2.png S|../images/BackRepeat_1.png S|../images/Blank_2.png S|../images/MainSiteHomeBlank_2.png S|../images/ShoppingCartHomeBlank_2.png S|../images/adminback3.jpg
vti_cachedsvcrellinks:VX|NSUS|images/front_end_site_images/place_order.gif NSUS|ShoppingCart/csv/images/title_bottom\\ NoCornor.JPG NSUS|ShoppingCart/csv/images/HeaderLight_2.png NSUS|ShoppingCart/csv/images/title_2.png NSUS|ShoppingCart/csv/images/title_bottom_2.png NSUS|ShoppingCart/csv/images/title_bottom1_2.png NSUS|ShoppingCart/csv/images/BackRepeat_1.png NSUS|ShoppingCart/csv/images/Blank_2.png NSUS|ShoppingCart/csv/images/MainSiteHomeBlank_2.png NSUS|ShoppingCart/csv/images/ShoppingCartHomeBlank_2.png NSUS|ShoppingCart/csv/images/adminback3.jpg
vti_lineageid:SR|{E8CEE9CA-080B-4F85-AC46-5239803FF24D}
vti_backlinkinfo:VX|
