vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|05 Sep 2008 04:25:16 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|05 Sep 2008 04:25:16 -0000
vti_filesize:IR|5314
vti_cachedlinkinfo:VX|S|images/img04.jpg S|images/img03.jpg S|images/img09.gif S|images/img08.gif S|images/img03.jpg S|images/img04.jpg S|images/img03.jpg S|images/img05.gif S|images/img10.gif S|images/img05.gif
vti_cachedsvcrellinks:VX|NSUS|ShoppingCart/csv/css/images/img04.jpg NSUS|ShoppingCart/csv/css/images/img03.jpg NSUS|ShoppingCart/csv/css/images/img09.gif NSUS|ShoppingCart/csv/css/images/img08.gif NSUS|ShoppingCart/csv/css/images/img03.jpg NSUS|ShoppingCart/csv/css/images/img04.jpg NSUS|ShoppingCart/csv/css/images/img03.jpg NSUS|ShoppingCart/csv/css/images/img05.gif NSUS|ShoppingCart/csv/css/images/img10.gif NSUS|ShoppingCart/csv/css/images/img05.gif
vti_lineageid:SR|{1EE3B6D5-8F48-4018-8B21-CC73F669592F}
vti_backlinkinfo:VX|
