vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|01 Sep 2008 11:40:10 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|01 Sep 2008 11:40:10 -0000
vti_filesize:IR|3513
vti_cachedlinkinfo:VX|S|images/header_bg.jpg S|images/logo.gif S|images/header_c_bg.gif S|images/bullet.gif S|images/header.jpg S|images/header_pip.jpg S|images/body_bg.gif S|images/btn.gif S|../image/footer_bg.gif S|images/footer_left.gif
vti_cachedsvcrellinks:VX|NSUS|ShoppingCart/csv/css/images/header_bg.jpg NSUS|ShoppingCart/csv/css/images/logo.gif NSUS|ShoppingCart/csv/css/images/header_c_bg.gif NSUS|ShoppingCart/csv/css/images/bullet.gif NSUS|ShoppingCart/csv/css/images/header.jpg NSUS|ShoppingCart/csv/css/images/header_pip.jpg NSUS|ShoppingCart/csv/css/images/body_bg.gif NSUS|ShoppingCart/csv/css/images/btn.gif NSUS|ShoppingCart/csv/image/footer_bg.gif NSUS|ShoppingCart/csv/css/images/footer_left.gif
vti_lineageid:SR|{5FE5B5D9-04F5-46FE-B2DB-8D370C33B3A4}
vti_backlinkinfo:VX|
